name: Test and build

on:
  push:
  pull_request:
    branches:
      - main
  schedule:
    - cron: "0 7 * * 1"

jobs:
  style-checks:
    name: Run style checks
    runs-on: ubuntu-22.04
    steps:
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"
      - uses: actions/checkout@v4

      - run: |
          python3 -m pip install .[style]
        name: Install defelement
      - run: |
          python3 -m ruff format --check .
          python3 -m ruff check .
        name: Ruff checks
      - run: |
          python3 -m pydocstyle .
        name: Pydocstyle checks
      - run: |
          python3 -m mypy --install-types --non-interactive .
          python3 -m mypy .
        name: mypy checks

  test-build-website:
    name: Test building of defelement
    runs-on: ubuntu-22.04
    steps:
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"
      - uses: actions/checkout@v4

      - name: Clone Symfem
        uses: actions/checkout@v4
        with:
          path: ./symfem
          repository: mscroggs/symfem
          ref: main
      - name: Install Symfem
        run: |
            cd symfem
            python3 -m pip install .[optional]

      - name: Clone verification
        uses: actions/checkout@v4
        with:
          path: ./verification
          repository: DefElement/DefElement
          ref: verification
        continue-on-error: true

      - run: mkdir -p ~/.local/share/fonts
        name: Make font folder
      - name: Clone Varela Round
        uses: actions/checkout@v4
        with:
          path: ./varela-r
          repository: avrahamcornfeld/Varela-Round-Hebrew
          ref: master
      - run: cp varela-r/fonts/VarelaRound-Regular.otf ~/.local/share/fonts/
        name: Install Varela Round
      - name: Download and install Computer Modern
        run: |
          wget https://downloads.sourceforge.net/project/cm-unicode/cm-unicode/0.7.0/cm-unicode-0.7.0-otf.tar.xz
          tar -xf cm-unicode-0.7.0-otf.tar.xz
          cp cm-unicode-0.7.0/cmunti.otf ~/.local/share/fonts/

      - run: python3 -m pip install .
        name: Install defelement
      - run: python3 build.py _test_html --no-cache --verification-json verification/verification.json --test auto --processes 4 --include-simplefem
        name: Build website HTML

  build-website:
    name: Build and deploy website
    needs:
      - test-build-website
      - run-tests
    uses: ./.github/workflows/build.yml
    permissions:
      pages: write
      id-token: write

  verification:
    name: Test verification
    runs-on: ubuntu-22.04
    steps:
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"

      - uses: actions/checkout@v4

      - name: Load Symfem cache
        uses: actions/cache/restore@v4
        with:
          path: /home/runner/.cache/symfem
          key: symfem-cache

      - name: Clone Symfem
        uses: actions/checkout@v4
        with:
          path: ./symfem
          repository: mscroggs/symfem
          ref: main
      - name: Install Symfem
        run: |
            cd symfem
            python3 -m pip install .[optional]

      - run: python3 -m pip install .
        name: Install defelement

      - name: Install implementations
        run: |
          python3 -m pip install setuptools
          python3 install_implementations.py --install-type verification

      - run: python3 verify.py --fail-on-missing-libraries --impl simplefem --assert-passing --print-reasons
        name: Check that simplefem verification passes

      - run: python3 verify.py verification-serial.json --test auto --fail-on-missing-libraries
        name: Run verification test in serial
      - run: python3 verify.py verification-4.json --test auto --processes 4 --fail-on-missing-libraries
        name: Run verification test on 4 processes
      - name: Check that two verifications runs give the same results
        run: python3 .github/scripts/compare_json.py verification-serial.json verification-4.json

  run-tests:
    name: Run tests
    runs-on: ubuntu-22.04
    steps:
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"

      - uses: actions/checkout@v4

      - run: python3 -m pip install pytest-xdist
        name: Install dependencies

      - name: Load Symfem cache
        uses: actions/cache/restore@v4
        with:
          path: /home/runner/.cache/symfem
          key: symfem-cache

      - name: Clone Symfem
        uses: actions/checkout@v4
        with:
          path: ./symfem
          repository: mscroggs/symfem
          ref: main
      - name: Install Symfem
        run: |
            cd symfem
            python3 -m pip install .[optional]

      - run: python3 -m pip install .
        name: Install defelement
      - name: Install implementations
        run: python3 install_implementations.py --install-type all

      - name: Install LaTeÎ§
        run: |
          sudo apt-get update
          sudo apt-get install -y texlive-latex-base

      - run: python3 -m pytest -n4 test
        name: Run tests with pytest
